<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
	<a class="navbar-brand" href="/">
		Guiapress
	</a>

	<ul class="navbar-nav mr-auto">
		<% categories.forEach(category => { %>
			<li class="nav-item">
				<a class="nav-link" href="/category/<%= category.slug %>">
					<%= category.title %>
				</a>
			</li>
		<% }); %>
	</ul>

</nav>